[Desktop Entry]
Type=Application
Name=SaveScummer
Comment=Checkpoints for your game saves
Exec=SaveScummer
Icon=savescummer
Terminal=false
Categories=Utility;
StartupWMClass=com.savescummer.SaveScummer
